<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eshopnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".formofdetails"></activity>
        <activity android:name=".adminwelcomeactivity"></activity>
        <activity android:name=".laptops"></activity>
        <activity android:name=".mobiles"></activity>
        <activity android:name=".watches"></activity>
        <activity android:name=".LOPRecyclerView"></activity>
        <activity android:name=".Listofproduct"></activity>
        <activity android:name=".ProdCatRecyclerview"></activity>
        <activity android:name=".Advertisement"></activity>
        <activity
            android:name=".NavigationActivitynewone"
            android:label="@string/title_activity_navigation_activitynewone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".Adminlogin" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>